In [142]:
import pandas as pd 
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
genome_tags = pd.read_csv("genome-tags.csv") 
# Preview the first 5 lines of the loaded data 
genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [143]:
genome_scores = pd.read_csv('genome-scores.csv')
genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [144]:
genome_scores.describe()

            movieId         tagId     relevance
count  1.170977e+07  1.170977e+07  1.170977e+07
mean   2.584297e+04  5.645000e+02  1.164833e-01
std    3.467615e+04  3.256254e+02  1.542463e-01
min    1.000000e+00  1.000000e+00  2.500000e-04
25%    2.926000e+03  2.827500e+02  2.425000e-02
50%    6.017000e+03  5.645000e+02  5.650000e-02
75%    4.606200e+04  8.462500e+02  1.415000e-01
max    1.311700e+05  1.128000e+03  1.000000e+00

In [145]:
genome_tags_merge = pd.merge(genome_scores,genome_tags,on='tagId')

In [146]:
genome_tags_merge.head()

   movieId  tagId  relevance  tag
0        1      1    0.02500  007
1        2      1    0.03975  007
2        3      1    0.04350  007
3        4      1    0.03725  007
4        5      1    0.04200  007

In [147]:
genome_tags_merge[genome_tags_merge['movieId'] == 1]

          movieId  tagId  relevance                 tag
0               1      1    0.02500                 007
10381           1      2    0.02500        007 (series)
20762           1      3    0.05775        18th century
31143           1      4    0.09675               1920s
41524           1      5    0.14675               1930s
51905           1      6    0.21700               1950s
62286           1      7    0.06700               1960s
72667           1      8    0.26275               1970s
83048           1      9    0.26200               1980s
93429           1     10    0.03200        19th century
103810          1     11    0.57700                  3d
114191          1     12    0.11625                70mm
124572          1     13    0.18800                 80s
134953          1     14    0.00800                9/11
145334          1     15    0.03675             aardman
155715          1     16    0.28175     aardman studios
166096          1     17    0.00700            abortion
176477          1     18    0.11050              absurd
186858          1     19    0.67050              action
197239          1     20    0.18450       action packed
207620          1     21    0.33025          adaptation
218001          1     22    0.28250   adapted from:book
228382          1     23    0.05700  adapted from:comic
238763          1     24    0.01550   adapted from:game
249144          1     25    0.08500           addiction
259525          1     26    0.08100         adolescence
269906          1     27    0.19500            adoption
280287          1     28    0.07150            adultery
290668          1     29    0.89200           adventure
301049          1     30    0.67625        affectionate
...           ...    ...        ...                 ...
11398338        1   1099    0.00475       waste of time
11408719        1   1100    0.19225   watch the credits
11419100        1   1101    0.25850             weapons
11429481        1   1102    0.00900             wedding
11439862        1   1103    0.02775                weed
11450243        1   1104    0.29925               weird
11460624        1   1105    0.04675            werewolf
11471005        1   1106    0.01025          werewolves
11481386        1   1107    0.02725             western
11491767        1   1108    0.73700           whimsical
11502148        1   1109    0.11200          wilderness
11512529        1   1110    0.05125                wine
11522910        1   1111    0.04375             wistful
11533291        1   1112    0.05350               witch
11543672        1   1113    0.12575             witches
11554053        1   1114    0.77675               witty
11564434        1   1115    0.14500             wizards
11574815        1   1116    0.11275               women
11585196        1   1117    0.04200       working class
11595577        1   1118    0.10250           workplace
11605958        1   1119    0.03950      world politics
11616339        1   1120    0.01800         world war i
11626720        1   1121    0.04575        world war ii
11637101        1   1122    0.03275       writer's life
11647482        1   1123    0.12500             writers
11657863        1   1124    0.04150             writing
11668244        1   1125    0.01925               wuxia
11678625        1   1126    0.03625                wwii
11689006        1   1127    0.07775              zombie
11699387        1   1128    0.02300             zombies

[1128 rows x 4 columns]

In [148]:
movies = pd.read_csv('movies.csv')

In [149]:
movies['movieId'].nunique()

27278

In [150]:
movies_genome_merge = pd.merge(genome_tags_merge,movies,on='movieId')

In [151]:
len(movies_genome_merge)
#movies_genome_merge['movieId'].nunique()

11709768

In [152]:
movies_genome_merge.tail(5)

          movieId  tagId  relevance      tag             title  genres
11709763   131170   1124    0.58775  writing  Parallels (2015)  Sci-Fi
11709764   131170   1125    0.01075    wuxia  Parallels (2015)  Sci-Fi
11709765   131170   1126    0.01575     wwii  Parallels (2015)  Sci-Fi
11709766   131170   1127    0.11450   zombie  Parallels (2015)  Sci-Fi
11709767   131170   1128    0.02175  zombies  Parallels (2015)  Sci-Fi

In [153]:
#creating list of all tags and genres to be added as columns in main datafram
movies['genres'] = movies['genres'].str.split('|')

In [154]:
# movies_genome_merge['tagId'].nunique()
movies_genome_merge['genres'] = movies_genome_merge['genres'].str.split('|')

In [155]:
# movies_genome_merge.head()
len(movies_genome_merge)

11709768

In [156]:
tag_id = movies_genome_merge['tagId']
# tag_id.head()
len(tag_id)

11709768

In [157]:
tag_id.drop_duplicates(inplace = True)

In [158]:
# tag_id.describe()
len(tag_id)

1128

In [159]:
# len(movies_genome_merge)
movies_merge_temp = movies_genome_merge[:]
len(movies_merge_temp)

11709768

In [168]:
merge_pivot = movies_merge_temp.pivot(index ='movieId',columns='tagId',values = 'relevance')

In [164]:
merge_pivot.to_csv('merge_pivot.csv')

In [169]:
len(merge_pivot)

10381

In [170]:
merge_pivot.head()

tagId,1,2,3,4,5,6,7,8,9,10,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.02500,0.02500,0.05775,0.09675,0.14675,0.21700,0.06700,0.26275,0.26200,0.03200,...,0.03950,0.01800,0.04575,0.03275,0.12500,0.04150,0.01925,0.03625,0.07775,0.02300
2,0.03975,0.04375,0.03775,0.04800,0.11025,0.07250,0.04775,0.10975,0.09925,0.02050,...,0.04175,0.01925,0.01725,0.02425,0.12550,0.02250,0.01550,0.01475,0.09025,0.01875
3,0.04350,0.05475,0.02800,0.07700,0.05400,0.06850,0.05600,0.18500,0.04925,0.02675,...,0.04150,0.02675,0.02775,0.03425,0.15550,0.03675,0.01700,0.01950,0.09700,0.01850
4,0.03725,0.03950,0.03675,0.03100,0.06825,0.04050,0.02325,0.08700,0.05125,0.03025,...,0.05750,0.03375,0.02275,0.03975,0.18525,0.05925,0.01500,0.01525,0.06450,0.01300
5,0.04200,0.05275,0.05925,0.03675,0.07525,0.12525,0.02850,0.08500,0.02950,0.02875,...,0.04250,0.02825,0.02150,0.02600,0.14275,0.02075,0.01650,0.01675,0.10750,0.01825

In [119]:
type(merge_pivot.iloc[1])

pandas.core.series.Series

In [121]:
# testing movie id be 1
my_movie = merge_pivot.iloc[1]

In [124]:
merge_pivot_temp = merge_pivot[:]

In [125]:
merge_pivot_temp.head()

tagId,1,2,3,4,5,6,7,8,9,10,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.02500,0.02500,0.05775,0.09675,0.14675,0.21700,0.06700,0.26275,0.26200,0.03200,...,0.03950,0.01800,0.04575,0.03275,0.12500,0.04150,0.01925,0.03625,0.07775,0.02300
2,0.03975,0.04375,0.03775,0.04800,0.11025,0.07250,0.04775,0.10975,0.09925,0.02050,...,0.04175,0.01925,0.01725,0.02425,0.12550,0.02250,0.01550,0.01475,0.09025,0.01875
3,0.04350,0.05475,0.02800,0.07700,0.05400,0.06850,0.05600,0.18500,0.04925,0.02675,...,0.04150,0.02675,0.02775,0.03425,0.15550,0.03675,0.01700,0.01950,0.09700,0.01850
4,0.03725,0.03950,0.03675,0.03100,0.06825,0.04050,0.02325,0.08700,0.05125,0.03025,...,0.05750,0.03375,0.02275,0.03975,0.18525,0.05925,0.01500,0.01525,0.06450,0.01300
5,0.04200,0.05275,0.05925,0.03675,0.07525,0.12525,0.02850,0.08500,0.02950,0.02875,...,0.04250,0.02825,0.02150,0.02600,0.14275,0.02075,0.01650,0.01675,0.10750,0.01825

In [172]:
sorted_series = (((merge_pivot_temp - my_movie)**2).sum(axis = 1)).sort_values(ascending = True)

In [173]:
sorted_series.head()

movieId
2         0.000000
2054     10.060572
2429     11.716365
46972    14.016617
40851    14.396257
dtype: float64

In [174]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [177]:
movies_new = movies.drop(['genres'],axis = 1)

In [178]:
movies_new

       movieId                                              title
0            1                                   Toy Story (1995)
1            2                                     Jumanji (1995)
2            3                            Grumpier Old Men (1995)
3            4                           Waiting to Exhale (1995)
4            5                 Father of the Bride Part II (1995)
5            6                                        Heat (1995)
6            7                                     Sabrina (1995)
7            8                                Tom and Huck (1995)
8            9                                Sudden Death (1995)
9           10                                   GoldenEye (1995)
10          11                     American President, The (1995)
11          12                 Dracula: Dead and Loving It (1995)
12          13                                       Balto (1995)
13          14                                       Nixon (1995)
14          15                            Cutthroat Island (1995)
15          16                                      Casino (1995)
16          17                       Sense and Sensibility (1995)
17          18                                  Four Rooms (1995)
18          19              Ace Ventura: When Nature Calls (1995)
19          20                                 Money Train (1995)
20          21                                  Get Shorty (1995)
21          22                                     Copycat (1995)
22          23                                   Assassins (1995)
23          24                                      Powder (1995)
24          25                           Leaving Las Vegas (1995)
25          26                                     Othello (1995)
26          27                                Now and Then (1995)
27          28                                  Persuasion (1995)
28          29  City of Lost Children, The (Cité des enfants p...
29          30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...        ...                                                ...
27248   131146                      Werner - Volles Rooäää (1999)
27249   131148                                  What A Man (2011)
27250   131150         7 Dwarves: The Forest Is Not Enough (2006)
27251   131152                                 The Fat Spy (1966)
27252   131154  Die Bademeister – Weiber, saufen, Leben retten...
27253   131156                         Ants in the Pants 2 (2002)
27254   131158                                Manta, Manta (1991)
27255   131160                  Oscar and the Lady in Pink (2009)
27256   131162                      Por un puñado de besos (2014)
27257   131164                               Vietnam in HD (2011)
27258   131166                                  WWII IN HD (2009)
27259   131168                                     Phoenix (2014)
27260   131170                                   Parallels (2015)
27261   131172                              Closed Curtain (2013)
27262   131174                                   Gentlemen (2014)
27263   131176                             A Second Chance (2014)
27264   131180                     Dead Rising: Watchtower (2015)
27265   131231                                     Standby (2014)
27266   131237                         What Men Talk About (2010)
27267   131239                          Three Quarter Moon (2011)
27268   131241                           Ants in the Pants (2000)
27269   131243                Werner - Gekotzt wird später (2003)
27270   131248                              Brother Bear 2 (2006)
27271   131250                              No More School (2000)
27272   131252  Forklift Driver Klaus: The First Day on the Jo...
27273   131254                       Kein Bund für's Leben (2007)
27274   131256                      Feuer, Eis & Dosenbier (2002)
27275   131258                                 The Pirates (2014)
27276   131260                                Rentun Ruusu (2001)
27277   131262                                   Innocence (2014)

[27278 rows x 2 columns]

In [179]:
final_merge = pd.merge(movies_new,merge_pivot,on='movieId')

In [180]:
final_merge.head()

,movieId,title,1,2,3,4,5,6,7,8,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
0,1,Toy Story (1995),0.02500,0.02500,0.05775,0.09675,0.14675,0.21700,0.06700,0.26275,...,0.03950,0.01800,0.04575,0.03275,0.12500,0.04150,0.01925,0.03625,0.07775,0.02300
1,2,Jumanji (1995),0.03975,0.04375,0.03775,0.04800,0.11025,0.07250,0.04775,0.10975,...,0.04175,0.01925,0.01725,0.02425,0.12550,0.02250,0.01550,0.01475,0.09025,0.01875
2,3,Grumpier Old Men (1995),0.04350,0.05475,0.02800,0.07700,0.05400,0.06850,0.05600,0.18500,...,0.04150,0.02675,0.02775,0.03425,0.15550,0.03675,0.01700,0.01950,0.09700,0.01850
3,4,Waiting to Exhale (1995),0.03725,0.03950,0.03675,0.03100,0.06825,0.04050,0.02325,0.08700,...,0.05750,0.03375,0.02275,0.03975,0.18525,0.05925,0.01500,0.01525,0.06450,0.01300
4,5,Father of the Bride Part II (1995),0.04200,0.05275,0.05925,0.03675,0.07525,0.12525,0.02850,0.08500,...,0.04250,0.02825,0.02150,0.02600,0.14275,0.02075,0.01650,0.01675,0.10750,0.01825

In [182]:
final_merge.to_csv('final_merge.csv')

## so far we have created a final_merge dataset for our file

## now using this datset in the algorithm as follows

### step1: using minimum distance value to compute the top 25 closest choices

In [187]:
# testing movie id be 1
my_movie = final_merge.iloc[1]

In [188]:
# sorted_min_series = (((final_merge - my_movie)**2).sum(axis = 1)).sort_values(ascending = True)

ValueError: Cannot broadcast operands together.