In [1]:
import numpy as np
import pandas as pd

In [2]:
input_movies = [1,2,5859,318,9315,7756,569,13345,3977,4896,1721,1722,8131,3409,3445,21345,19872]
movies = pd.read_csv('movies.csv')
movies.set_index('movieId',inplace=True)

In [3]:
for val in input_movies:
    try:
        print(str(val) + '    ' + str(movies.loc[val]['title'])) 
    except:
        pass

1    Toy Story (1995)
2    Jumanji (1995)
5859    Southern Comfort (1981)
318    Shawshank Redemption, The (1994)
7756    Alexander Nevsky (Aleksandr Nevskiy) (1938)
569    Little Big League (1994)
3977    Charlie's Angels (2000)
4896    Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)
1721    Titanic (1997)
1722    Tomorrow Never Dies (1997)
8131    Pursuit of Happiness (2001)
3409    Final Destination (2000)
3445    Eyes of Laura Mars (1978)

In [4]:
input_movie_Id = int(input('enter movie id : '))
print('Your entered movie is:')
print(movies.loc[input_movie_Id]['title'] + '     ' + movies.loc[input_movie_Id]['genres'])

enter movie id : 233
Your entered movie is:
Exotica (1994)     Drama

In [5]:
my_df = pd.read_csv('merge_pivot.csv')
my_df.set_index('movieId',inplace = True)
my_input = my_df.loc[input_movie_Id]

# print(my_input)

computation = (((my_df - my_input)**2).sum(axis = 1)).sort_values(ascending = True)

In [28]:
#this list gives top matching values on the basis of distances
computation = computation[:20]
computation.head()

movieId
233      0.000000
8959    11.126193
3795    11.407366
6641    11.576635
7442    11.752764
dtype: float64

In [29]:
#now we need to add more filters to give more precise results on the basis of 
#1. Rating
#2. Timestamp (how never the video is)

#making a dataframe of shortlisted videos(top 20 videos)
ratings = pd.read_csv('ratings.csv')
ratings = ratings.groupby('movieId').mean()
ratings.drop('userId',axis = 1,inplace = True)
ratings.head()

           rating     timestamp
movieId
1        3.921240  1.052654e+09
2        3.211977  1.037616e+09
3        3.151040  9.596480e+08
4        2.861393  9.242144e+08
5        3.064592  9.620161e+08

In [30]:
comp_df = computation.to_frame()

In [37]:
final_merge = pd.merge(comp_df,ratings,on = 'movieId')

In [38]:
final_merge

                 0    rating     timestamp
movieId
233       0.000000  3.523721  9.385205e+08
8959     11.126193  2.948936  1.184717e+09
3795     11.407366  3.492366  1.036212e+09
6641     11.576635  3.450382  1.189404e+09
7442     11.752764  3.148241  1.178144e+09
1186     12.000958  3.543316  1.058691e+09
3221     12.363858  3.629073  1.095956e+09
68324    12.374660  2.777778  1.284518e+09
4273     12.423825  3.594286  1.081489e+09
1733     12.552046  3.268182  9.814077e+08
89480    12.643537  2.808081  1.358423e+09
702      12.807198  3.754717  1.031173e+09
496      12.969415  3.289346  9.333231e+08
4716     13.026233  3.301136  1.145848e+09
7008     13.115660  3.465159  1.175363e+09
1483     13.311678  3.056039  1.069718e+09
148      13.394134  2.889356  9.216057e+08
4872     13.410043  3.164804  1.121572e+09
6293     13.587346  2.905941  1.127773e+09
6341     13.626698  3.430730  1.148867e+09

In [44]:
final_merge.sort_values(['rating'], ascending=False)

                 0    rating     timestamp
movieId
702      12.807198  3.754717  1.031173e+09
3221     12.363858  3.629073  1.095956e+09
4273     12.423825  3.594286  1.081489e+09
1186     12.000958  3.543316  1.058691e+09
233       0.000000  3.523721  9.385205e+08
3795     11.407366  3.492366  1.036212e+09
7008     13.115660  3.465159  1.175363e+09
6641     11.576635  3.450382  1.189404e+09
6341     13.626698  3.430730  1.148867e+09
4716     13.026233  3.301136  1.145848e+09
496      12.969415  3.289346  9.333231e+08
1733     12.552046  3.268182  9.814077e+08
4872     13.410043  3.164804  1.121572e+09
7442     11.752764  3.148241  1.178144e+09
1483     13.311678  3.056039  1.069718e+09
8959     11.126193  2.948936  1.184717e+09
6293     13.587346  2.905941  1.127773e+09
148      13.394134  2.889356  9.216057e+08
89480    12.643537  2.808081  1.358423e+09
68324    12.374660  2.777778  1.284518e+09

In [46]:
final_merge

                 0    rating     timestamp
movieId
233       0.000000  3.523721  9.385205e+08
8959     11.126193  2.948936  1.184717e+09
3795     11.407366  3.492366  1.036212e+09
6641     11.576635  3.450382  1.189404e+09
7442     11.752764  3.148241  1.178144e+09
1186     12.000958  3.543316  1.058691e+09
3221     12.363858  3.629073  1.095956e+09
68324    12.374660  2.777778  1.284518e+09
4273     12.423825  3.594286  1.081489e+09
1733     12.552046  3.268182  9.814077e+08
89480    12.643537  2.808081  1.358423e+09
702      12.807198  3.754717  1.031173e+09
496      12.969415  3.289346  9.333231e+08
4716     13.026233  3.301136  1.145848e+09
7008     13.115660  3.465159  1.175363e+09
1483     13.311678  3.056039  1.069718e+09
148      13.394134  2.889356  9.216057e+08
4872     13.410043  3.164804  1.121572e+09
6293     13.587346  2.905941  1.127773e+09
6341     13.626698  3.430730  1.148867e+09